
$color-background: #000000;
$color-primary:    rgb(0, 14, 31);
$color-primary-gradient: linear-gradient(
  135deg,
    rgb(1, 56, 124),
  #000e1f

);
$color-secondary:  #525a61;
$color-accent:     #2cd0ec;
$color-cta:     #f5f109;
$color-text:       #f5f5f5;
$color-text-dark: #b6b6b6;
$color-accent-border:#47f3ff;
