@use 'variables';

.works-section {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 120px 0px 160px 0;
  background-image: variables.$color-primary-gradient;
    overflow-x: hidden;
}

.bg-wrapper {
  position:absolute;
  z-index: 1;
  opacity: 0.1;
  background-repeat: repeat;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  filter: blur(1px);
}

.grid-works {
  z-index: 2;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.work-card {
  min-width: 0;
}

@media (max-width: 768px) {
  .grid-works {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr;
      flex-wrap: wrap;
      justify-content: center;
      gap: 80px;
  }
}