@use 'variables';

.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 20px;
  background-color: variables.$color-primary-gradient;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

#top {
  scroll-margin-top: none;
}

.kv-image-frame {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom:0;
  right: 50%;
  height: 100vh;
  max-height: 1000px;
  width: 50vw;
  overflow: hidden;
}
.kv-image-frame-inner {
  position: relative;
  height: 100%;
  width: 100%;
    max-height: 1000px;
      max-width: 800px;
}

.kv-image {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  object-fit: cover;
  object-position: center center;
}

.pair-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pair-a {
  position: absolute;
  top:0;
  right:50%;
  height: 100%;
  max-height: 800px;
  width: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.pair-b {
  position: absolute;
  z-index: 12;
  left: 45%;
  top: 30%;
  width: 50%;
  max-width: 600px;
  margin-right: auto;
  border: 1px solid variables.$color-accent-border;
  background: variables.$color-secondary-glass;
  color: variables.$color-text;
  padding: 0px 20px 10px 20px;
  &__cta {
    color: variables.$color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .title:after {
        width: 100%;
        content: "";
        display: flex;
        background-image: variables.$color-secondary-gradient;
        height: 4px;
        border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 20px;
    background-color: variables.$color-secondary-gradient;
    width: 100%;
    height: 100vh;
  }
  .kv-image-frame {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    overflow: hidden;
  }

  .kv-image-frame-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .kv-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .pair-b {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 90%;
    max-width: 90%;
      &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
  }
}