@use 'variables';

.tag {
    display: flex;
    border: 1px solid variables.$color-accent;
    background-color: variables.$color-primary;
    border-radius: 5px;
    padding: 2px 4px;
}
.tag-text {
    color: variables.$color-text;
    line-height: 1rem;
    margin: 0;
    font-size: 12px;
    font-family: 'Inter';
}