@use 'variables';

.work-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    flex: 0;
    background-color: variables.$color-secondary;
    padding: 0;
    border-radius: 15px;
    border: 1px solid variables.$color-accent-border;
    box-shadow: 1px 1px 8px variables.$color-accent-border;
    transition: transform 0.3s, box-shadow 0.3s;
    &__image-frame {
        display: flex;
        width: 100%;
        min-height: 100px;
        height: 260px;
        background: black;
        border-radius: 15px 15px 0 0;
    }
    &__image {
        width: 100%;
        height: 100%;
    }
    &__title:after {
        width: 100%;
        content: "";
        display: flex;
        background-image: variables.$color-primary-gradient;
        height: 4px;
        border-radius: 4px;
    }
    &__description {
        text-align: left;
    }
    &__lower {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 20px;
        width: 100%;
        min-height: 200px;
    }
    &__tool-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }

}

.site-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
}

.work-card:hover {
    box-shadow: 0 0 30px variables.$color-accent-border;
    border: 1px solid variables.$color-accent-border;
}

@media (max-width: 768px) {
    .work-card {

        &__image {
            width: 100%;
            height: auto;
        }
        &__description {
            text-align: left;
        }
        &__lower {
            display: block;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 12px;
            min-height: auto;
            height: auto;
        }
        &__tool-list {
            display: flex;
            flex-direction: row;
            gap:5px;
        }

    }
}
